{%load static %} {% load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">

  <head>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4832780851045698",
        enable_page_level_ads: true
      });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>freePDFburst</title>

    <!-- Favicons -->
    <link href="{% static 'freePDFburst/img/favicon.png' %}" rel="icon">
    <link href="{% static 'freePDFburst/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'freePDFburst/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'freePDFburst/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'freePDFburst/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'freePDFburst/css/style.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">freePDFBurst</a>
        <!-- <img src="{% static 'freePDFburst/img/logo.png' %}" alt="freePDFburst logo"> -->
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5 element"></h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <div class="card" style="background: none; border:none;">
                <form class="" method="POST" action="" enctype="multipart/form-data" novalidate>
                  {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                  {% endfor %}
                  
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                      {% for error in form.non_field_errors %}
                      {{ error }}
                      {% endfor %}
                  </div>
                  {% endif %}
  
  
                  {% if form.is_bound %}
                      <div class="form-group custom-file mb-5">
                          {% render_field form.file|add_error_class:"is-invalid" class="form-control custom-file-input" id="customFile" %}
                          <label class="custom-file-label" for="customFile">Choose PDF file</label>
                          <span class="badge badge-secondary badge-pill p-2 mt-1" id="file-name"></span>
                          {% if form.file.errors %}
                                  <div class="invalid-feedback" style="display:inline;">
                                      {{form.file.errors}}
                                  </div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                              {% render_field form.email|add_error_class:"is-invalid" class="form-control" type="email" name="" id="email" placeholder="Enter your email address" %}
                              {% if form.email.errors %}
                                      <div class="invalid-feedback" style="display:inline;">
                                          {{form.email.errors}}
                                      </div>
                              {% endif %}
                              <small class="form-text text-white">{{form.email.help_text}}</small>
  
                      </div>
  
  
                  {% else %}
  
  
                  <div class="form-group custom-file mb-5">
                      {% render_field form.file class="custom-file-input form-control" id="customFile" %}
                      <label class="custom-file-label" for="customFile">Choose PDF file</label>
                      <span class="badge badge-secondary badge-pill p-2 mt-1" id="file-name"></span>
                  </div>
  
                  <div class="form-group">
                      {% render_field form.email class="form-control" type="email" name="" id="email" placeholder="Enter your email address" %}
                      <small class="form-text text-white">{{form.email.help_text}}</small>
                  </div>
  
                  {% endif %}
                  <button class="btn btn-lg bg-darkgrey">Submit</button>
              </form>
              </div>
            
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Simple and minimalist design making it easy to use.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-lock m-auto text-primary"></i>
              </div>
              <h3>Privacy</h3>
              <p class="lead mb-0">Neither your files nor email is stored.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Burstable</h3>
              <p class="lead mb-0">Splits a file and delivers each page to your inbox.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/freePDFburst/img/bg-showcase.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>About Us</h2>
            <p class="lead mb-0">Virgil Global provides web solutions for smarter business: Website re-design, Web app development, and e-Commerce solutions. We guide small businesses with technology implementation and analysis.</p>
          </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; <a href="https://virgilglobal.com" target="_blank">Virgil Global</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/virgilglobal" target="_blank">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/virgilglobal" target="_blank">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <!-- <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'freePDFburst/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'freePDFburst/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'freePDFburst/js/main.js' %}"></script>

  </body>

</html>
